module outbox 1.0;

require {
        type system_dbusd_t;
        type unconfined_service_t;
        class fifo_file read;
}

allow system_dbusd_t unconfined_service_t:fifo_file read;
