[Unit]
Description=A rudimentary outbox that delivers mail using a sendmail compatible command
After=network-online.target

[Service]
Type=dbus
BusName=garden.tau.Outbox
ExecStart=${BINDIR}/outboxd -C ${SYSCONFDIR}/outboxd/msmtprc --logfile ${LOGDIR}/outboxd/msmtp.log
Restart=always
RestartSec=10
User=outboxd
Group=outboxd
PrivateDevices=yes
PrivateTmp=yes
ProtectProc=invisible
ProtectControlGroups=yes
ProtectHome=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
ReadWritePaths=${SHAREDSTATEDIR}/outboxd ${LOGDIR}/outboxd
Environment=SENDMAIL=${BINDIR}/msmtp
WorkingDirectory=${SHAREDSTATEDIR}/outboxd
